<?php
	$keycolor = '#ff8099';
	$linkcolor = $keycolor;
	$radius = '8px';
?>@charset "utf-8";

html, body{
	background-color: #000;
}
img, svg, video{
	max-width:100%;
	height:auto;
}
.contents pre code,
pre code{
	border:none;
	padding:0;
	margin:0;
}
a{
	color: <?= $keycolor ?>;
}

/**
 * ヘッダー
 */
.theme_header{
	background-color: <?= $keycolor ?>;
	padding:1em 0 1px 0;
	color: #000;
	border-bottom: 4px solid #000;
	a{
		color: #000;
	}
}

/**
 * メインエリア
 */
.theme_mainblock{
	background-color: #fff;
	padding:18px 0;
}

/**
 * Site Identity
 */
.theme_si{
	float:left;
	padding: 1em 0;
	margin: 0;
	color: #000;
	line-height: 1.3;

	*{
		font-size: xx-large;
		margin: 0;
		padding: 0;
		color: #000;
		line-height: 1.3;
	}
}

/**
 * グローバルメニュー
 */
.theme_globalnavi{
	clear:both;
}
.theme_globalnavi ul{
	margin:0; padding:0;
}
.theme_globalnavi ul li{
	margin:0.2em 1px 0 1px; padding:0; list-style-type:none;
	display:inline-block;
}
.theme_globalnavi ul li a{
	padding:0.5em 2em;
	display:block;
	background-color:#000;
	color: #fff;
	border-radius: <?= $radius ?>;
}
@media all and (max-width: 580px) {
	.theme_globalnavi{
		display:none;
	}
}

/**
 * ショルダーメニュー
 */
.theme_shouldernavi{
	float:right;
}
.theme_shouldernavi ul{
	margin:0; padding:0;
}
.theme_shouldernavi ul li{
	margin:0 1em; padding:0; list-style-type:none;
	display:inline-block;
}
.theme_shouldernavi ul li a{
	display:block;
}
@media all and (max-width: 580px) {
	.theme_shouldernavi{
		display:none;
	}
}



/**
 * コンテンツエリア
 */
.contents{
	margin-bottom: 3em;

	h2{
		background: <?= $keycolor ?>;
		padding: 0.3em 1em;
		margin: 2em 0 1em 0;
		border-bottom: 4px solid #000;
	}

	h3{
		border-bottom: 2px solid #000;
	}
}

/**
 * ナビゲーション
 */
.theme_common_navi{
	margin-bottom:0.7em;
	border: 4px solid #000;
	border-radius: <?= $radius ?>;
	background: #000;

	a{
		display: block;
		padding:10px;
		color: #fff;
		border-radius: <?= $radius ?>;
		overflow: hidden;
		&:hover,
		&.current{
			background-color: <?= $keycolor ?>;
			color: #000;
		}
	}

	p{
		text-align:center;
		margin:0 0 1px 0; padding:0 0 1px 0;
		font-size: small;

		a{
			color: <?= $keycolor ?>;
		}
	}

	ul{
		display:block;
		margin:0 0 -1px 0; padding:0;

		li{
			display:block;
			margin:0 0 1px 0; padding:0;
			list-style-type:none;
			// border-bottom: 1px solid #fff;
			&:last-child{
				border-bottom: 0px none;
			}
		}
		ul{
			border-radius: <?= $radius ?>;
			background-color: #fff;
			margin: 1px;

			li{
				background: transparent;

				a{
					padding-left: 25px;
					color: #000;
					font-size:small;
				}

				ul a{
					padding-left: 40px;
					background-color: #fff;
					color: #000;
					font-size:small;
				}
			}
		}
	}

}

/**
 * パンくず
 */
.theme_breadcrumb{
	margin:0 0;
}
.theme_breadcrumb ul,
.theme_breadcrumb ul li{
	display:inline;
	padding: 0 0.3em 0 0;
	font-size:small;
}
.theme_breadcrumb ul li a:after{
	content:'>';
	margin: 0 0.3em;
}
.theme_breadcrumb ul li span{
	font-weight:bold;
}




/**
 * フッター
 */
.theme_footer{
	padding:1em 0 0.5em 0;
	border-top: 4px solid <?= $keycolor ?>;
	background: #000;
	color: #fff;
	a{
		color: <?= $keycolor ?>;
	}
}

/**
 * メガフッターメニュー
 */
.theme_megafooter_navi{
	margin:0 auto 1em auto;
	zoom:1;
}
.theme_megafooter_navi:after{
  content: " ";
  display: block;
  visibility: hidden;
  height: 0.1px;
  font-size: 0.1em;
  line-height: 0;
  clear: both;
}
.theme_megafooter_navi ul{
	margin:0; padding:0;
}
.theme_megafooter_navi ul li{
	margin:0 1px; padding:0; list-style-type:none;
	float:left;
	display:block;
}
.theme_megafooter_navi ul li ul li{
	display:block;
	float:none;
	font-size:80%;
}
.theme_megafooter_navi ul li a{
	padding:0.5em 2em;
	display:block;
	font-weight:bold;
}
.theme_megafooter_navi ul li ul li a{
	padding-left:4em;
	font-weight:normal;
}

/**
 * ショルダーメニュー(フッター)
 */
.theme_footer_shouldernavi{}
.theme_footer_shouldernavi ul{
	margin:0.5em; padding:0;
	text-align:center;
}
.theme_footer_shouldernavi ul li{
	margin:0 1em; padding:0; list-style-type:none;
	display:inline;
}

/**
 * トップページ: ウェルカムボード
 */
.theme_welcome{
	min-height:300px;
	text-align: center;
	padding:20px 1em 0;
}
.theme_welcome .theme_welcome-inner{
	width:auto;
	max-width:900px;
	margin:0 auto;
	padding:0;
}
.theme_welcome .theme_welcome-title{
	color: #fff;
	font-weight:bold;
	font-size:xx-large;
	margin:1em 0 0.5em 0;
}
.theme_welcome .theme_welcome-message{
	color: #000;
	border:2px solid #000;
	padding:0.5em 1em;
	max-width:680px;
	margin:0 auto 10px auto;
}
.theme_welcome .theme_welcome-message *{
	margin-top:0;
	margin-bottom:0;
}
.theme_welcome .theme_welcome-message ul{
	text-align:left;
	word-break:break-all;
}
.theme_welcome .theme_welcome-image_everyone{
	text-align:center;
}


/**
 * .anchor_links
 */
.anchor_links{
	margin:2em 7%;
}
